@import "tailwindcss";


:root {
  --primary-green-cold: #495E57;
  --primary-gray: #D9D9D9;
  --secondary-btn: #F4CE14;
  --secondary-bg: #FBF2E9;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--primary-graye);
  color: var(--black);
}


h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}

body {
  font-family: 'Karla', sans-serif;
}